body{
  background-image:url(city-road-street-buildings.jpg);
  background-size: cover;
  backface-visibility: hidden;
 color: white;
 font-family: 'Diplomata SC',serif;

}

div#tab{
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
  background-color: gold;
  display: block;
}
