<footer id="footer">
<div class="container-fluid">
<div class="row">
  <div class="col-lg-12 text-center">
      <a href="https://github.com/xvxd4sh">
          <i class="hvr-grow fa fa-github fa-4x"></i>
      </a>
      <a href="mailto:alexongkowijoyo91@gmail.com">
          <i class="hvr-grow fa fa-envelope fa-4x"></i>


    <p class="footer-text"> Made with ♥. </p>

  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Smooth Scrolling JS -->
<script src="js/smooth-scroll.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Simple Text Rotator JavaScript ! -->
<script src="js/jquery.simple-text-rotator.js"></script>

<!-- Custom JS -->
<script src="js/site.js"></script>


</footer>
