<section class="fixed" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <hr />
          <li>
            <a class="hvr-pop" data-scroll href="#pagetop">Home </a>
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#aboutme">About </a>
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#work">Work </a>
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#projects">Projects </a>
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#footer">Contact </a>    
          </li>
          <hr />
        </ul>
      </div>
    </div>
  </div>
</section>
