<section class="fixed" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <hr />
          <li>
            <a class="hvr-pop" data-scroll href="#pagetop">home </a>
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#aboutme">about </a>    
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#work">work </a>    
          </li>
          <li>  
            <a class="hvr-pop" data-scroll href="#projects">projects </a>    
          </li>
          <li>
            <a class="hvr-pop" data-scroll href="#footer">contact </a>    
          </li>
          <hr />
        </ul>
      </div>
    </div>
  </div>
</section>

